* {
  margin: 0;
  padding: 0;
}
/* body part  */

body {
  background-color: #8d8b8b88;
}

/* Header design css */

#header {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo {
  padding-left: 10px;
  margin-bottom: 0%;
}
.logo img {
  height: 22px;
  width: 130px;
  margin-left: 15px;
  margin-bottom: 0;
}
.flipkart-plus {
  margin-left: 70px;
  font-style: italic;
  color: #9e9e9e;
  font-weight: bold;
  margin-top: 0;
}
.flipkart-plus span {
  font-size: 19px;
  color: #ffc200;
}
.header_search_box {
  width: 600px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.header_search_box i {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_search_box input {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  font-weight: 600;
}
.header_icon_link_content a {
  font-size: 17px;
  text-decoration: none;
  color: #333;
}
.header_icon_link_content a i {
  font-size: 22px;
  margin-right: 4px;
}

/* navbar design  */

#nav {
  /* width: 1330px; */
  height: 126px;
  background-color: white;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 5px;
  justify-content: space-evenly;
}

.nav_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.nav_content_main {

  text-decoration: none;
  text-align: center;
  margin-left: 20px;
}
.nav_content_main_content span {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  /* text-align: center; */
}

/* ads design  */
#ads {
  /* width: 1330px; */
  height: 126px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  border-radius: 5px;
  /* padding-top: 25px; */
  margin-bottom: 15px;
}
#ads img {
  margin-left: 330px;
  margin-top: 30px;
}
/* flipkart sliders design  */

#flipkart_carousel {
  /* width: 1330px; */
  height: 200px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 5px;
}
/* main components css design  */
#main {
  display: grid;
  grid-template-columns: 10fr 2fr;
  background-color: #fff;
  height: 300px;
  width: 1330px;
  margin-top: 30px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

/* top_offers */
#top_offers {
  display: grid;
  grid-template-columns: 9fr 3fr;
  height: 350px;
}
.top_offers_name{
  font-size: 20px;
  font-weight: bold;
  color: #212121;
  background-color: #ffffff;
 padding: 16px;
}
.top_offers_deatils{
  font-size: 14px;
  color: #333;
  background-color: #ffffff;
  margin-left: 15px;
  margin-bottom: 20px;
}
.offer-card{
  border: 2px solid #e0e0e0;
  width: 200px;
  height: 253px;
  border-radius: 7px;
  text-align: center;
  padding: 6px;
  
}
.offer-card img{
  width: 186px;
  height: 186px;
  padding: 4px 15px 0px 15px;
}
.top_offers_deatils_content{
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
}
.top_offers_big_offer{
  background-color: #ffffff;
  height: 350px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.top_ads_item img{
  width: 270px;
  height: 330px;
  margin-left: 20px;
}

/* big_billion_sale design  */

#big_billion_sale{
  height: 250px;
  background-color: #ffffff;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}
.bigbillion-card img{
  width: 430px;
  height: 240px;
  margin: 5px;
}

/* top products  */
.top_products{
  height: 370px;
  background-color: #ffffff;
  margin: 15px 15px 15px 15px;
}
.top_products_heading{
  font-size: 20px;
  font-weight: bold;
  color: #212121;
  background-color: #ffffff;
 padding: 16px;
}
.top_products_items{
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
}



/* top story directory setup  */
#top_story_directory {
  /* width: 1330px; */
  height: 1780px;
  margin: 15px;
}
.top_story_directory_content {
  font-size: 12px;
  color: #565656;
  margin-bottom: 4px 0px;
  margin-right: 15px;
  margin-left: 15px;
}
.top_story_directory_content p {
  margin-left: 10px;
}
.top_story_directory_content p span {
  font-size: 15px;
  color: #565656;
}

.top_story_directory_content h2 {
  font-size: 14px;
}

.top_offers_latest_update{
  height: 300px;
  background-color: #ffffff;
  
}

/* fotter css design */
#footer {
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 250px;
  background-color: rgb(24, 20, 20);
}
/* box1 design  */
.box1 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

/* box2 design  */
.box2 {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.Registered_deatiles {
  border-left: 0.5px solid rgb(194, 194, 194);
}
.content {
  margin-top: 25px;
  align-items: center;
  margin-left: 20px;
}
.content_heading {
  color: #878787;
  text-decoration: none;
  text-align: left;
  margin-left: 0px;
  font-size: 16px;
}
.content ol {
  list-style: none;
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}
.content ol p {
  margin-bottom: 2px;
  font-size: 12px;
  /* font-weight: bold; */
}

/* last copyright payments design css */

#copyright_payment {
  bottom: 0;
  height: 60px;
  background-color: rgb(24, 20, 20);
  border-top: 0.5px solid rgb(194, 194, 194);
}
.copyright_payment-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.copyright_payment-content li {
  list-style: none;
  font-weight: bold;
}
.copyright_payment-content a {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.copyright_payment-content li i {
  color: rgb(230, 230, 125);
  padding-right: 5px;
}
